<script src="${pageContext.request.contextPath}/resources/jquery/1.9.1/jquery.min.js"></script>
<script src="${pageContext.request.contextPath}/resources/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

<script>
    $('#dueDate').datepicker({
        format : 'dd/mm/yyyy',
        startDate: '-3d'
    });
</script>
</body>
</html>