<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <%--<a class="navbar-brand" href="${pageContext.request.contextPath}">Home</a>--%>
    <ul class="nav navbar-nav">
        <li class="nav-item ${action eq "home" ? "active" : ""}" id="home">
            <a class="nav-link" href="">Home</a>
        </li>

        <li class="nav-item ${action eq "todo" ? "active" : ""}" id="todo">
            <a class="nav-link" href="todo">To do list</a>
        </li>
    </ul>

    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item" id="logout">
            <a class="nav-link" href="${pageContext.request.contextPath}/logout">Logout</a>
        </li>

    </ul>
</nav>